WIP game/Logs/shadercompiler-UnityShaderCompiler.exe-1.log
/WIP game/Logs
WIP game/Logs/shadercompiler-UnityShaderCompiler.exe-1.log
WIP game/Logs/shadercompiler-UnityShaderCompiler.exe-2.log
WIP game/Library/EditorInstance.json
WIP game/Assets/Scripts.meta
WIP game/Library/Bee/fullprofile.json
WIP game/Library/Bee/fullprofile.json
/WIP game/Library/Bee
WIP game/Library/Bee/fullprofile.json
/WIP game/Library
/WIP game
/WIP game/Library/Bee
LevelDesign/Assets/TerrainDemoScene_URP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_Normal.tif
LevelDesign/Assets/TerrainDemoScene_URP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_MaskMap.tif
LevelDesign/Assets/TerrainDemoScene_URP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_BaseColor.tif
LevelDesign/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.dylib
LevelDesign/Library/EditorInstance.json
LevelDesign/Library/Bee/fullprofile.json
LevelDesign/Library/Bee/tundra.log.json
LevelDesign/Library/Bee/TundraBuildState.state
LevelDesign/Library/Bee/TundraBuildState.state.map
LevelDesign/Library/LastSceneManagerSetup.txt
LevelDesign/Logs/AssetImportWorker0.log
LevelDesign/Logs/AssetImportWorker1.log
LevelDesign/Logs/shadercompiler-AssetImportWorker0-0.log
LevelDesign/Logs/shadercompiler-AssetImportWorker1-0.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-1.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-10.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-11.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-12.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-13.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-14.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-15.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-2.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-3.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-4.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-5.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-6.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-7.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-8.log
LevelDesign/Logs/shadercompiler-UnityShaderCompiler.exe-9.log
LevelDesign/Temp/FSTimeGet-2971b0f00cf27fb4484c32b64b64bdd8
LevelDesign/Temp/UnityLockfile
