WIP game/Logs/shadercompiler-UnityShaderCompiler.exe-1.log
/WIP game/Logs
WIP game/Logs/shadercompiler-UnityShaderCompiler.exe-1.log
WIP game/Logs/shadercompiler-UnityShaderCompiler.exe-2.log
WIP game/Library/EditorInstance.json
WIP game/Assets/Scripts.meta
WIP game/Library/Bee/fullprofile.json
WIP game/Library/Bee/fullprofile.json
/WIP game/Library/Bee
WIP game/Library/Bee/fullprofile.json
/WIP game/Library
/WIP game
/WIP game/Library/Bee
